div(data-bind="attr: { class: 'widget widget-' + color() }")
  canvas.chart
  .title(data-bind='text: title')
  .value(data-bind='html: value')
  .more-info(data-bind='text: moreInfo')
  .updated-at(data-bind='moment: updatedAt, format: "HH:mm:ss"')
