$page-padding: 10px;

$grid-col-count: 6;
$grid-col-width: 300px;
$grid-row-count: 5;
$grid-row-height: 240px;
$grid-gutter-width: 10px;

$color-black: #1d1d1d;
$color-white: #ffffff;
$color-lgreen: #99b433;
$color-green: #00a300;
$color-dgreen: #1e7145;
$color-magenta: #ff0097;
$color-lpurple: #9f00a7;
$color-purple: #7e3878;
$color-dpurple: #603cba;
$color-teal: #00aba9;
$color-lblue: #eff4ff;
$color-blue: #2d89ef;
$color-dblue: #2b5797;
$color-yellow: #ffc40d;
$color-orange: #e3a21a;
$color-dorange: #da532c;
$color-red: #ee1111;
$color-dred: #b91d47;
