@import 'default';
@import 'default/tiles';
@import 'default/widgets';

body {
  background-color: #0F1214;
  font-size: 20px;
  color: white;
  // height: 1080px;
  width: 100%;
  height: 100%;
}

#container {

}
